/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.App-logo {
  height: 140px;
  pointer-events: none; /* Чтобы избежать конфликтов с кликабельностью */
}
